* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    user-select: none;
    list-style: none;
}
h1 {
    padding: 50px 25px;
    background-color: brown;
    color: #fff;
    text-align: center;
    font-size: 60px;
}
.container {
    width: 800px;
    height: 800px;
    padding: 50px 25px;
    margin: 0 auto;
}
h2 {
    text-align: center;
    padding-bottom: 20px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}
.form div {
    padding: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
}
#add {
    width: 62px;
    height: 60px;
    border-radius: 5px;
}
.drink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0;
}
.drink button {
    margin-left: 10px; 
}